@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(221, 100%, 96%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.result-card {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  width: 700px;
}
.left-container {
  border-radius: 20px;
  background-color: hsl(234, 85%, 45%);
  padding: 20px 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-container h2 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
.left-container .score-circle {
  /* background-color: #fff; */
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.left-container .score-circle h3 {
  font-size: 3rem;
}
.left-container .score-info {
  margin-top: 10px;
  color: white;
  text-align: center;
}
.left-container .score-info b {
  font-size: 2rem;
}
.left-container .score-info p {
  text-transform: capitalize;
  font-size: 0.7rem;
}
.right-container {
  padding: 20px 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.summary-info-box {
  margin: 10px;
  padding: 10px;
}
.reaction-card {
  background-color: hsl(0, 100%, 67%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memory-card {
  background-color: hsl(39, 100%, 56%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.verbal-card {
  background-color: hsl(166, 100%, 37%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.visual-card {
  background-color: hsl(234, 85%, 45%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.reaction-card .image-container,
.memory-card .image-container,
.verbal-card .image-container,
.visual-card .image-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
button {
  background-color: hsl(224, 30%, 27%);
  border: 0;
  margin-top: 10px;
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .result-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
  .right-container {
    padding: 20px 0px;
  }
}
